@model Web.Models.PersonResultViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Persons</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="index" method="get">
            <div class="row">
                <div class="col-md-11">
                    <input name="filter" class="form-control" />
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model.Persons != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    PersonalNumber
                </th>
                <th>
                    BirthDay
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Address
                </th>
                <th>
                    Attachment
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Persons)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Value)
                </td>
                <td>
                    @if (item.Attachment != null)
                    {
                        <img src="@item.Attachment.Url" alt="Avatar" width="50" height="50" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                    @Html.ActionLink("Contact", "Contact", new { id = item.ID })
                </td>
            </tr>
             }

        </tbody>
    </table>
}
else
{
    <p>Persons not found</p>
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {

            string active = i == Model.CurrentPage ? "disabled=disabled" : "";

            <li class="page-item" @active><a class="page-link" href="?page=@i">@i</a></li>
        }
    </ul>
</nav>

